<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style2.css">




</head>

<body>



    <!--Регистрация-->

    <div class="container-xl">

        <!--Менюшка-->
        <div th:replace="fragments/menu :: menu"/>

        <!--Servisi-->
        <div class="content-area">
            <div class='mainpage-services'>



                <div class="mainpage-services-item">
                    <a href='/service/1' class='item' id="bx_3218110189_49">

                        <div class='image'
                            style='background:url(../static/images/premium-icon-utility-4757490.png) no-repeat center; background-size: contain;'>

                            <div class='label'>10%</div>
                        </div>

                        <div class='name'>Установка, замена и поверка водосчётчиков</div>
                        <div class='text'>Установите счётчик на воду и начните экономить до 40&#37;</div>
                    </a>
                </div>


                <div class="mainpage-services-item">
                    <a href='/service/2' class='item' id="bx_3218110189_50">

                        <div class='image'
                            style='background:url(../static/images/free-icon-house-276143.png) no-repeat center; background-size: contain;'>

                        </div>

                        <div class='name'>Сантехнические работы</div>
                        <div class='text'>Качественное выполнение работ. Гарантия 12 месяцев.</div>
                    </a>
                </div>


                <div class="mainpage-services-item">
                    <a href='/service/3' class='item' id="bx_3218110189_7872">

                        <div class='image'
                            style='background:url(../static/images/premium-icon-utilities-4439158.png) no-repeat center; background-size: contain;'>

                        </div>

                        <div class='name'>Установка, замена, поверка счетчиков тепла</div>
                        <div class='text'>Установка, замена и поверка счётчиков тепла</div>
                    </a>
                </div>


        


                <div class="mainpage-services-item">
                    <a href='/service/4' class='item' id="bx_3218110189_6765">

                        <div class='image'
                            style='background:url(../static/images/premium-icon-home-3539497.png) no-repeat center; background-size: contain;'>

                        </div>

                        <div class='name'>Электрообогреватели</div>
                        <div class='text'>Электрообогреватели </div>
                    </a>
                </div>




                <div class="mainpage-services-item">
                    <a href='/service/5' class='item' id="bx_3218110189_6773">

                        <div class='image'
                            style='background:url(../static/images/premium-icon-home-3540105.png) no-repeat center; background-size: contain;'>

                        </div>

                        <div class='name'>Электромонтажные работы</div>
                        <div class='text'>Демонтируем/смонтируем розетки, автоматические и наружные выключатели.</div>
                    </a>
                </div>




                <!--Футер(Хрень что снизу)-->

                <footer class="my-5 pt-5 text-muted text-center text-small">
                    <p class="mb-1">&copy; 2021–2022 МТУСИ БСТ-1902</p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#">Конфиденциальность</a></li>
                        <li class="list-inline-item"><a href="#">Условия</a></li>
                        <li class="list-inline-item"><a href="#">Поддержка</a></li>
                    </ul>
                </footer>

            </div>
        </div>
    </div>
    <!--Скрипт-->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>